#-------------------------------------------------------------------------------------------------------------------
# Keep this section in sync with .gitignore
#-------------------------------------------------------------------------------------------------------------------

/node_modules/
.DS_Store
/dist/
/dist-ssr/
*.local

# vite
/.vite/

# yarn (without PnP)
.pnp.*
.yarn/*

# linting caches
.stylelintcache
.eslintcache

# TS types generation
tsconfig.tsbuildinfo
/types-temp/

# Storybook
/storybook-static/

# Playwright
/e2e-tests-results/

# npm publish
/*.tgz

# jest
/coverage

#-------------------------------------------------------------------------------------------------------------------
# eslint-specific overrides
#-------------------------------------------------------------------------------------------------------------------
